.chat_message {
    border-radius: 10px;
    border: 0.4px solid #c4bcbc;
    padding: 8px;
}

.title {
    text-align: center;
    background-color: rgb(107, 107, 106);
    padding: 6px;
    border-radius: 0;
}

h1 {
    color: rgb(75, 172, 176);
    font-size: 18px;
    text-decoration: underline;
    text-decoration-color: bisque;

}